################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/APSBSolution/Site/App_Data/aspnet-Site-20200529050220.mdf
/APSBSolution/Site/App_Data/aspnet-Site-20200529050220_log.ldf
/APSBSolution/Database/Database.dbmdl
/APSBSolution/Database/Database.jfm
/APSBSolution/Site/App_Data/apsb.mdf
/APSBSolution/Site/App_Data/apsb_log.ldf
